<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Login</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='css/login.css') }}"
    />
    <script src="{{ url_for('static',filename='js/config.js') }}"></script>
    <script src="{{ url_for('static',filename='js/login.js') }}"></script>
  </head>
  <body>
    <div class="login-box">
      <h1>Admin Panel Login</h1>
      <form>
        <label>Username</label>
        <input id="username" type="username" placeholder="" />
        <label>Password</label>
        <input id="password" type="password" placeholder="" />
        <input
          id="submit-btn"
          onclick="handleSubmit()"
          type="button"
          value="Login"
        />
      </form>
    </div>
  </body>
</html>
